/*  css/style.css  */
/*  Note to myself[keep this order] { Positioning; Box-model; Typography; Visual; Misc;}  */

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
  color: #333;
}
main {
  max-width: 900px;
  margin: 0 auto;
}

header {
  padding-bottom: 12px;
  margin-bottom: -4px;
  color: white;
  background-color: #5086ac;
}

h1 {
  padding-left: 4px;
  padding-top: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
}

/*  Photo  */

.photo {
  padding-right: 8px;
  float: right;
}

.photo img {
  border-left: 8px solid #5086ac;
  border-bottom: 4px solid #5086ac;
  width: 256px;
  height: auto;
  /* I like it better flipped horizontally */
  transform: scaleX(-1);
}

/*  /Photo  */

section {
  padding-bottom: 12px;
  border-bottom: 4px solid #5086ac;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

.important {
  padding-left: 8px;
  border-left: 16px solid #ac7650;
  font-size: 20px;
  font-weight: bolder;
}

p {
  padding-left: 16px;
}

/*  a  */

a {
  color:#50aca4;
}

a:hover {
  font-weight: bolder;
  color: #ac7650;
}

/*  /a  */

mark {
  background-color:#f6cbad;
}

/*  Code preview  */

pre {
  margin: 0;
  max-width: 900px;
  border-bottom: 4px solid #999;
  background-color: #eee;
}

footer {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 900px;
  text-align: right;
  font-style: italic;
  color: black;
}
